<footer id="footer" class="text-white relative" style="background-color: rgb(66, 138, 210);">
    <!-- Positioned Image -->
    <div class="mx-auto w-full max-w-screen-xl p-6 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <!-- Logo Section -->
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="https://sanrafaelrd.com/RecursosDeLaWeb/footer/logo.png" class="h-12 me-3"
                        style="width: 90px; height: 90px;" alt="Logo de Centro Médico San Rafael" />
                </a>
            </div>
            <!-- Navigation Sections -->
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <!-- Ayuda Section -->
                <div>
                    <h2 class="mb-6 text-m font-semibold uppercase text-white">Ayuda</h2>
                    <ul class="text-white font-medium">
                        <li class="mb-4">
                            <a href="https://api.whatsapp.com/send?phone=18292228988" target="_blank"
                                class="hover:underline" rel="noopener noreferrer">Servicio al cliente</a>
                        </li>
                        <li>
                            <a href="/surcursales" class="hover:underline">Encuentra una sucursal</a>
                        </li>
                    </ul>
                </div>
                <!-- Servicios en línea Section -->
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Servicios en línea</h2>
                    <ul class="text-white font-medium">
                        <li>
                            <a href="http://cmsr.autana.services/landing/" target="_blank" class="hover:underline"
                                rel="noopener noreferrer">Resultados</a>
                        </li>
                    </ul>
                </div>
                <!-- Otros Section -->
                <div>
                    <h2 class="mb-5 text-m font-semibold uppercase text-white">Otros</h2>
                    <ul class="text-white font-medium">
                        <li>
                            <a href="/vacantes" class="hover:underline">Vacantes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Divider Line -->
        <hr class="my-6 border-white sm:mx-auto lg:my-8" />
        <!-- Copyright and Social Media Icons Section -->
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-white sm:text-center">© 2024 <a href="/" class="hover:underline">Centro Médico San
                    Rafael</a></span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <!-- Social Media Icons -->
                <a href="https://www.facebook.com/centromedicosanrafael" target="_blank"
                    class="text-white hover:text-gray-300 mx-2" rel="noopener noreferrer" aria-label="Facebook">
                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                </a>
                <a href="https://www.instagram.com/sanrafaelrd/" target="_blank"
                    class="text-white hover:text-gray-300 mx-2" rel="noopener noreferrer" aria-label="Instagram">
                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</footer>