<nav class="relative flex w-full items-center justify-between bg-white py-2 shadow-md">
    <div class="flex w-full items-center px-2">
        <!-- Logo Section -->
        <a class="flex items-center space-x-1" href="#">
            <img class="h-20 w-20"
                src="https://scontent.fsti5-1.fna.fbcdn.net/v/t39.30808-6/313143048_6036425923057601_4956830631147707_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeF_HnWF2aYjg04SSXeRXD6F_JnNtDKp5L_8mc20Mqnkv41FGws8Fca3viYxQ4zgJTbhC03HiPpewwB7bXgBBaQm&_nc_ohc=7xqfjvPcfKsQ7kNvgG0hHvV&_nc_ht=scontent.fsti5-1.fna&oh=00_AYCa2zktO46ScO4pIttuEV6hNCBH-_PrXRj6EyLQ2ccWKQ&oe=66BB342B"
                alt="TE Logo" loading="lazy" />
        </a>

        <!-- Navigation Links -->
        <div
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Inicio</a>
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Nosotros</a>
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Servicios</a>
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Vacantes</a>
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Sucursales</a>
            <a href="#"
                class="relative px-3 py-2 text-gray-800 font-serif text-base font-medium hover:text-blue-700 dark:text-gray-300 dark:hover:text-blue-400 transition duration-300 before:absolute before:inset-0 before:border-2 before:border-gray-300 before:rounded-full before:opacity-0 hover:before:opacity-100 hover:before:border-blue-500">Contacto</a>
        </div>

        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 m-lg-5 rounded"
            style="justify-content: right;">
            Resultados en linea
        </a>
    </div>
</nav>