<nav class="relative flex items-center justify-between bg-white py-2 shadow-md">
    <div class="flex items-center justify-between w-full px-2">
        <!-- Logo Section -->
        <a class="flex items-center space-x-1" href="#">
            <img class="" style="width: 110px;" height="100px"
                src="https://sanrafaelrd.com/RecursosDeLaWeb/navbar/logoNavbar.png" loading="lazy" />
        </a>

        <!-- Hamburger Icon -->
        <button (click)="toggleMenu()"
            class="inline-flex items-center justify-center p-2 text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-default" aria-expanded="false">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>

        <!-- Navigation Links -->
        <div [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}" class="w-full md:flex md:items-center md:w-auto"
            id="navbar-default">
            <div
                class="flex flex-col p-4 md:p-0 mt-4 font-monospace border border-gray-100 rounded-lg bg-gray-50 md:space-x-2 md:flex-row md:mt-0 md:border-0 md:bg-white">
                <!-- Links -->
                <div class="flex flex-col md:flex-row md:space-x-2">
                    <a routerLink="/home" routerLinkActive="bg-blue-300 rounded-full"
                        class="relative px-2 py-2 text-gray-800 font-monospace hover:text-blue-700 transition duration-300">Inicio</a>
                    <a routerLink="/nosotros" routerLinkActive="bg-blue-300 rounded-full"
                        class="relative px-2 py-2 text-gray-800 font-monospace hover:text-blue-700 transition duration-300">Nosotros</a>
                    <a routerLink="/servicios" routerLinkActive="bg-blue-300 rounded-full"
                        class="relative px-2 py-2 text-gray-800 font-monospace hover:text-blue-700 transition duration-300">Servicios</a>
                    <a routerLink="/medicos" routerLinkActive="bg-blue-300 rounded-full"
                        class="relative px-2 py-2 text-gray-800 font-monospace hover:text-blue-700 transition duration-300">Especialistas</a>
                    <a routerLink="/surcursales" routerLinkActive="bg-blue-300 rounded-full"
                        class="relative px-2 py-2 text-gray-800 font-monospace hover:text-blue-700 transition duration-300">Sucursales</a>
                </div>

                <!-- Resultados Buttons -->
                <div class="flex flex-col md:flex-row md:space-x-2 space-y-2 md:space-y-0 mt-4 md:mt-0">
                    <a href="https://sanrafael.probeta.com/" target="_blank"
                        class="relative px-3 py-2 text-white bg-blue-500 font-monospace rounded-full hover:bg-blue-700 transition duration-300 border-2 border-blue-500">Resultados
                        laboratorio</a>

                    <a href="http://cmsr.autana.services/landing/" target="_blank"
                        class="relative px-3 py-2 text-white bg-blue-500 font-monospace rounded-full hover:bg-blue-700 transition duration-300 border-2 border-blue-500">Resultados
                        Imágenes</a>
                </div>
            </div>
        </div>
    </div>
</nav>