<nav class=" mt-1 relative flex w-full items-center justify-between bg-white py-2 shadow-sm lg:py-4">
    <div class="flex w-full items-center px-4">
        <!-- Logo Section -->
        <a class="flex items-center space-x-1" href="#">
            <img class="h-10" style="width: 100px; height: 95px;"
                src="https://scontent.fsti5-1.fna.fbcdn.net/v/t39.30808-6/313143048_6036425923057601_4956830631147707_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeF_HnWF2aYjg04SSXeRXD6F_JnNtDKp5L_8mc20Mqnkv41FGws8Fca3viYxQ4zgJTbhC03HiPpewwB7bXgBBaQm&_nc_ohc=7xqfjvPcfKsQ7kNvgG0hHvV&_nc_ht=scontent.fsti5-1.fna&oh=00_AYCa2zktO46ScO4pIttuEV6hNCBH-_PrXRj6EyLQ2ccWKQ&oe=66BB342B"
                alt="TE Logo" loading="lazy" />
        </a>

        <!-- Navigation Links -->
        <div class="flex space-x-8 ml-4 md:ml-8">
            <a href="#"
                class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-300">Inicio</a>
            <a href="#"
                class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-300">Nosotros</a>
            <a href="#"
                class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-300">Servicios</a>
            <a href="#"
                class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-300">Contacto</a>
            <a href="#"
                class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-300">Resultados</a>
        </div>
    </div>
</nav>