<section class="">
    <div class="mx-auto max-w-full px-4 py-10 text-gray-600 lg:px-8 lg:py-16"
        style="background-color: rgb(66, 138, 210);">
        <h2 class="mb-8 text-3xl font-bold text-white lg:mb-12 lg:text-center lg:text-5xl">Nuestros servicios</h2>
        <div class="flex flex-col lg:flex-row">
            <div class="self-center text-white pr-5 lg:w-1/2">
                <p class="mb-4 text-base">Que nos hace especiales?</p>
                <p class="mb-4 text-base">Nuestros servicios abarcan atención médica de emergencia y hospitalización las
                    24 horas, laboratorio con pruebas diagnósticas continuas, estudios de imagen como rayos X,
                    sonografía y tomografía, así como consultas especializadas con expertos en diversas áreas para
                    asegurar un cuidado completo y de calidad.</p>
                <hr class="mt-8 h-2 w-20 transform border-none" style="background-color: rgb(255, 255, 255);" />
            </div>
            <div class="mt-8 grid gap-y-7 sm:grid-cols-2 lg:mt-0 lg:ml-4 lg:w-1/2 lg:gap-y-10">
                <div *ngFor="let card of cardDataServicios" class="flex items-center">
                    <div class="mr-3 mt-4 rounded-full p-5 text-5xl text-teal-800"
                        style="background-color: rgb(255, 255, 255);">
                        <fa-icon class="" style="color: rgb(66, 138, 210);" [icon]="card.icon"></fa-icon>
                    </div>
                    <div>
                        <p class="mb-2 text-base font-medium text-white">{{ card.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>