<section class="text-white" style="background-color: rgb(66, 138, 210);">
    <div class="mx-auto max-w-screen-xl px-5 py-6 sm:px-5 sm:py-10 lg:px-6 lg:py-12 flex flex-col lg:flex-row">
        <!-- Texto a la izquierda -->
        <div class="lg:w-1/2 flex flex-col justify-center lg:pr-6">
            <h2 class="text-2xl font-monospace sm:text-2xl">Conocenos</h2>
            <p class="mt-3 text-white text-4xl font-bold">
                Sobre Nosotros
            </p>
            <p class="mt-4 text-white text-2xl">
                Nuestro centro lleva bastante experiencia en la atención y cuidado de nuestros pacientes, brindando un
                servicio único y siendo referencia integra en las atenciones a nuestro municipio de tenares. Somos el
                centro medico con alma.
            </p>
            <!-- Botón "Conocer Más" -->
            <div class="mt-6">
                <a href="/nosotros"
                    class="inline-block rounded bg-blue-300 px-6 py-2 text-m font-medium text-white transition hover:bg-blue-800 focus:outline-none focus:ring focus:ring-yellow-400">
                    Conocer Más
                </a>
            </div>
        </div>

        <!-- Tarjetas a la derecha -->
        <div class="mt-6 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2 lg:ml-6 lg:mt-0 lg:w-1/2">
            <a *ngFor="let card of cardDataList"
                class="block rounded-lg p-6 shadow-lg transition hover:border-blue-500 hover:shadow-blue-500 flex flex-col items-center justify-between"
                [style.backgroundColor]="card.backgroundColor">

                <!-- Contenedor del ícono -->
                <div class="flex items-center justify-center w-full h-32">
                    <fa-icon [icon]="card.icon" class="text-5xl" style="color:rgb(134, 201, 255);"></fa-icon>
                </div>

                <!-- Título -->
                <h2 class="mt-2 text-sm font-bold text-black text-center">{{ card.title }}</h2>
            </a>
        </div>
    </div>
</section>