<!-- Contenedor de la imagen de fondo y campo de búsqueda -->
<div class="relative bg-cover bg-center bg-no-repeat"
    style="background-image: url('https://sanrafaelrd.com/RecursosDeLaWeb/baner/banerr.jpg'); height: 250px;">
    <!-- Overlay para mejorar la visibilidad del campo de búsqueda -->
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>

    <!-- Contenedor del campo de búsqueda -->
    <div class="relative z-10 flex items-center justify-center h-full">
        <div class="bg-white p-4 rounded-lg shadow-lg w-full max-w-4xl">
            <!-- Campo de búsqueda -->
            <input type="text" placeholder="Buscar por servicio" [(ngModel)]="searchTerm"
                class="w-full px-8 py-4 text-sm shadow-md focus:outline-none focus:ring-4 focus:ring-blue-400 focus:border-transparent transition-all duration-300 ease-in-out" />
        </div>
    </div>
</div>

<!-- Tarjetas de servicios (fuera del contenedor de la imagen) -->
<div class="px-4 py-8 sm:px-6 md:px-12 lg:px-24 xl:px-32">
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <div *ngFor="let card of filteredServicios" class="w-full max-w-xs mx-auto" aria-label="Service Card">
            <div
                class="relative overflow-hidden transition-transform duration-300 transform rounded-lg shadow-lg hover:shadow-2xl bg-white">

                <!-- Icono del servicio -->
                <div class="w-full h-48 flex justify-center items-center bg-gray-100">
                    <fa-icon class="text-5xl text-blue-500" [icon]="card.icon"></fa-icon>
                </div>

                <!-- Información del servicio siempre visible debajo del icono -->
                <div class="px-4 py-3 text-center">
                    <p class="mb-1 text-lg font-monospace text-gray-800">{{ card.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>