<div class="mx-auto max-w-full px-4 py-10 lg:px-8 lg:py-16 font-monospace"
    style="background-color: rgb(255, 255, 255);">
    <h2 class="mb-8 text-3xl text-blue-400 lg:mb-12 lg:text-center lg:text-5xl">Nuestros servicios</h2>
    <div class="flex justify-center lg:justify-start">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-10">
            <div *ngFor="let card of cardDataServiciosScreen" class="flex flex-col items-center text-center">
                <div class="flex items-center justify-center mb-3 mt-4 rounded-full p-5 text-5xl text-teal-800"
                    style="background-color: rgb(66, 138, 210);">
                    <fa-icon class="" style="color: rgb(255, 255, 255);" [icon]="card.icon"></fa-icon>
                </div>
                <p class="text-base font-monospace text-black">{{ card.title }}</p>
            </div>
        </div>
    </div>
</div>