<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="/src/img/logoCMSR.png" alt="logo siglo 21" height="60" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="/nosotros" class="nav-link">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a href="/servicios" class="nav-link dropdown-toggle" id="servicesDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
          <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
            <li><a href="/especialistas" class="dropdown-item">Médicos especialistas</a></li>
            <li><a href="/servicios-internacionales" class="dropdown-item">Pacientes internacionales</a></li>
            <li><a href="/servicios/salud-en-tu-hogar" class="dropdown-item">Salud en tu hogar</a></li>
            <li><a href="/servicios/imagenes-medicas" class="dropdown-item">Imágenes Médicas</a></li>
            <li><a href="/servicios/laboratorio-clinico" class="dropdown-item">Laboratorio Clínico</a></li>
            <li><a href="/resultados-en-linea" class="dropdown-item">Resultados en línea</a></li>
            <li><a href="/servicios" class="dropdown-item">Ver todos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/novedades" class="nav-link">Novedades</a>
        </li>
        <li class="nav-item">
          <a href="https://empleos.cmsiglo21.com" class="nav-link" target="_blank">Empleos</a>
        </li>
        <li class="nav-item">
          <a href="/sucursales" class="nav-link">Sucursales</a>
        </li>
        <li class="nav-item">
          <a href="/contacto" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
          <a href="/resultados-en-linea" class="nav-link">Resultados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>